__pycache__/
schedulestart.bat
backend/*.json
.env
.vscode/
.DS_Store
.idea/
*.log
*.sqlite3
venv/
env/
frontend/.env
backend/.env
backend/venv/
backend/env/
node_modules/
dist/
backend/schedulestart.bat
frontend/schedulestart.bat
frontend/node_modules/
frontend/dist/
frontend/.DS_Store
backend/.DS_Store
backend/__pycache__/
backend/cookies.txt
